footer {
    padding: 10px 0 30px 0;
    @include text-m;
    color: $gray-600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .social-media {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            margin-right: 100px;
        }

        p {
            max-width: 900px;
            font-size: 15px;
        }
    }
}
