<section id="download-app">
    <div class="container">
        <div class="app-image-container">
            <img class="app-image" src="images/download-phone.svg" alt="">
        </div>
        <div class="content">
            <h2>Download Our App</h2>
            <h2> for Any Devices: </h2>
            <div class="app-grid">
                <div class="app-info">
                    <p>App Store</p>
                    <img src="images/icons/rating.svg" alt="5 star rating">
                    <h4>Editors Choice</h4>
                    <p>Rating 4.7, 187K+ reviews</p>
                    <img src="images/download-appstore.svg" class="appstore" alt="App Store">
                </div>
                <div class="app-info">
                    <p>Google Play</p>
                    <img src="images/icons/rating.svg" alt="5 star rating">
                    <h4>App of the Day</h4>
                    <p>Rating 4.8, 30K+ reviews</p>
                    <img src="images/download-googleplay.svg" class="playstore" alt="Google Play">
                </div>
            </div>
        </div>
    </div>
</section>