﻿<section class="features">
    <div class="container">
        <h1> What Do You Get With Our Tool?</h1>
        <p> Make sure all your tasks are organized so you can set the pritories and focus on important.</p>
        <div class="tool-features">
            <div class="box">
                <img src="images/icons/chat.svg" alt="">
                <h5> Comnments on Tasks</h5>
                <p> Id mollis consecetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="box">
                <img src="images/icons/presentation.svg" alt="">
                <h5> Task Analytics</h5>
                <p> Id mollis consecetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="box">
                <img src="images/icons/add-group.svg" alt="">
                <h5> Multiple Assignees</h5>
                <p> Id mollis consecetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="box">
                <img src="images/icons/bell.svg" alt="">
                <h5> Notifications</h5>
                <p> Id mollis consecetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="box">
                <img src="images/icons/tests.svg" alt="">
                <h5> Sections & Subtasks</h5>
                <p> Id mollis consecetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="box">
                <img src="images/icons/shield.svg" alt="">
                <h5> Data Security</h5>
                <p> Id mollis consecetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
        </div>
    </div>
</section>