﻿<section id="integrate-tools">
    <div class="container">
        <h1>Integrate Top Work Tools</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima autem ab porro. Reiciendis nihil id facilis aut unde quia corporis! Sit, voluptatum porro. Quaerat error laborum optio beatae maxime alias.</p>
        <div class="worktools-features">
            <div class="box">
                <div class="iconbox">
                    <img src="images/icons/google.svg" alt="Google Docs">
                </div>
                <p>Id mollis consecetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="box">
                <div class="iconbox">
                    <img src="images/icons/Zoom.svg" alt="Zoom">
                </div>
                <p>Id mollis consecetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="box">
                <div class="iconbox">
                    <img src="images/icons/slack.svg" alt="Slack">
                </div>
                <p>Id mollis consecetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="box">
                <div class="iconbox">
                    <img src="images/icons/gmail.svg" alt="Gmail">
                </div>
                <p>Id mollis consecetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="box">
                <div class="iconbox">
                    <img src="images/icons/trello.svg" alt="Trello">
                </div>
                <p>Id mollis consecetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="box">
                <div class="iconbox">
                    <img src="images/icons/Mailchimp.svg" alt="Mailchimp">
                </div>
                <p>Id mollis consecetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="box">
                <div class="iconbox">
                    <img src="images/icons/dropbox.svg" alt="Dropbox">
                </div>
                <p>Id mollis consecetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="box">
                <div class="iconbox">
                    <img src="images/icons/Evernote.svg" alt="Evernote">
                </div>
                <p>Id mollis consecetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
        </div>
    </div>
</section>