﻿<section class="laptop-slider-section">
    <div class="slider-container">
        <h1 id="mode-label">Switch between dark & light theme</h1>
        <div class="slider-line"></div>
        <div class="images">
            <img id="light-theme" src="images/MacBook-Pro-light.png" alt="ljus tema">
            <img id="dark-theme" src="images/MacBook-Pro-dark.svg" alt="mörkt tema">
        </div>
        <input type="range" min="0" max="100" value="50" class="slider-controls" id="slider">
    </div>
</section>