@model SubscribeViewModel


<section id="newsletter-section">
    <div class="newsletter-container">
        <div class="title-with-icon">
            <h1>Don't Want To Miss Anything?</h1>
            <img src="images/icons/arrows.svg" alt="Arrow Icon" class="arrow-icon">
        </div>

        @if (TempData["StatusMessage"] != null)
        {
            <div class="alert alert-info">
                @TempData["StatusMessage"]
            </div>
        }

        <div class="signup-checkbox-container">
            <div class="signup-text">
                <p>Sign up for</p>
                <p>Newsletters</p>
            </div>
            <form class="newsletter-form" asp-action="Subscribe" asp-controller="Default" method="post">
                <div class="checkbox-group">
                    <div class="checkbox-row">
                        <label>
                            <input asp-for="DailyNewsletter" type="checkbox">
                            Daily Newsletter
                        </label>
                        <label>
                            <input asp-for="AdvertisingUpdates" type="checkbox">
                            Advertising Updates
                        </label>
                        <label>
                            <input asp-for="WeekinReview" type="checkbox">
                            Week in Review
                        </label>
                    </div>
                    <div class="checkbox-row">
                        <label>
                            <input asp-for="EventUpdates" type="checkbox">
                            Event Updates
                        </label>
                        <label>
                            <input asp-for="StartupsWeekly" type="checkbox">
                            Startups Weekly
                        </label>
                        <label>
                            <input asp-for="Podcasts" type="checkbox">
                            Podcasts
                        </label>
                    </div>
                </div>
                <div class="email-input-group">
                    <input asp-for="Email" class="form-control" placeholder="✉️Your Email">
                    <button class="btn-theme-s" type="submit">Subscribe*</button>
                </div>
                <p class="agreement">
                    *Yes, I agree to the <a href="#">terms</a> and <a href="#">privacy policy</a>
                </p>
            </form>
        </div>
    </div>
</section>